a.pa {
    display: inline-block;
    height: 160px;
}

.row {
    margin-top: 20px;
    margin-bottom: 20px;
}

img.spi {
    width: 100%;
}

.pp {
  position: absolute;
  left: -3000px;
}

ul.gallery li {
    display: inline-block;
    margin: 20px;
    list-style: none;
}

body {
  padding: 0 0px;
}